body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    background: #eee;
    margin-top: 10px;
    padding: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
